.bottom-nav {
    width: 100%;
    min-height: 74px;
    height: auto;
    background-color: $sorme;
    @include Display(flex, center, center);
    @media (max-width: 1035px) {
        display: none;
    }

    &-items {
        width: 85%;
        @include Display(flex, space-between, center);
        padding: 0 10px;
        position: relative;
    
        @media (max-width: 1035px) {
            display: none;
        }
    
        @media (min-width: 1036px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    
        @media (min-width: 1265px) {
            flex-wrap: nowrap;
            flex-direction: row;
        }
    
        &-search {
            width: 20%;
    
            @media (max-width: 1265px) {
                width: 100%;
            }
        }
    
        &-links {
            @media (max-width: 1265px) {
                width: 100%;
            }
            width: 75%;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            .button-component {
                background-color: transparent;
                width: 120px;
                .button-component-text {
                    @include FontStyle(14px, 600, $white);
                    margin: 0;
                    white-space: nowrap;
                }
            }
        }
    
        &-dropdown {
            width: 95%;
            position: absolute;
    
            .section-rectangle {
                width: 100%;
                height: 610px;
                background-color: $white;
                z-index: 2;
                position: absolute;
                top: 52px;
                right: 6px;
                border: 1px solid $darkWhite;
                box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
    
                .section-triggle {
                    width: 23.5px;
                    height: 23.5px;
                    background-color: $white;
                    transform: rotate(45deg);
                    position: absolute;
                    top: -10px;
                    left: 27px;
                }
    
                .content {
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    display: flex;
    
                    &-items {
                        width: 25%;
                        z-index: 2;
                    }
    
                    &-divider {
                        width: 1px;
                        height: 100%;
                        background-color: $gray;
                    }
    
                    &-submenus {
                        width: 75%;
                        display: flex;
    
                        &-section {
                            width: 30%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 15px;
    
                            &-header {
                                width: 100%;
                                height: 72px;
                                background-color: #F3F4F6;
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                border-radius: 8px;
    
                                &-text {
                                    @include FontStyle(22px, 800, $sorme);
                                    margin: 0 30px;
                                }
                            }
    
                            &-body {
                                width: 100%;
    
                                .text-icon-horizontal-title {
                                    margin: 0px;
    
                                    &-icon {
                                        margin: 0 34px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.bottom-nav-minimal {
    @media (max-width: 1035px) {
        display: block;
    }
    display: none;
    .offcanvas-body {
        display: flex;
        flex-direction: column;
        >a {
            @include FontStyle(14px, 600, $sorme);
            margin: 12px 17px;
        }
    }
}