.bottom-nav {
    width: 100%;
    min-height: 74px;
    height: auto;
    background-color: $sorme;
    @include Display(flex, center, center);

    @media (max-width: 1000px) {
        display: none;
    }

    &-items {
        width: 85%;
        max-width: 1920px;
        @include Display(flex, space-between, center);
        padding: 0 10px;
        position: relative;

        @media (max-width: 1000px) {
            display: none;
        }

        @media (min-width: 1001px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }

        @media (min-width: 1395px) {
            flex-wrap: nowrap;
            flex-direction: row;
        }

        &-search {
            width: 20%;

            @media (max-width: 1395px) {
                width: 100%;
            }
        }

        &-links {
            @media (max-width: 1395px) {
                width: 100%;
            }

            width: 78%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .button-component {
                background-color: transparent;
                width: 120px;

                .button-component-text {
                    @include FontStyle(14px, 600, $white);
                    margin: 0;

                    @media (max-width: 1500px) {
                        white-space: wrap;
                    }

                    @media (min-width: 1501px) {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

.bottom-nav-minimal {
    @media (max-width: 1000px) {
        display: block;
    }

    display: none;

    .offcanvas-body {
        display: flex;
        flex-direction: column;

        >a {
            @include FontStyle(14px, 600, $sorme);
            margin: 12px 17px;
        }
    }
}