.dashboard {
    width: 288px;
    height: 870px;
    background: linear-gradient(180deg, #0e2649 0%, #071a36 100%);
    .logoTouba {
        margin: 26px 0 46px 34px;
    }
    label {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: $lightSorme;
        margin-left: 34px;
        padding: 10px 0;
    }
    a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.44px;
        color: $gray;
        background-color: transparent;
        text-decoration: none;
        height: 56px;

        &:hover {
            color: $gray;
        }
        img {
            margin-left: 34px;
            margin-right: 19px;
            width: 24px;
            height: 24px;
        }
        .numOfReviews {
            width: 35px;
            height: 24px;
            background: #21c085;
            border-radius: 40px;
            margin-left: 17px;
        }
    }
    .active-Navlink {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.44px;
        color: $white;
        background: linear-gradient(90deg, rgba(230, 57, 70, 0.2) 0%, rgba(230, 57, 70, 0) 97.57%);
        border-left: 5px solid #21c085;
        &:hover {
            color: $white;
        }
        img {
            filter: invert(61%) sepia(71%) saturate(490%) hue-rotate(120deg) brightness(100%) contrast(100%);
        }
    }
}
