.top-nav {
    width: 100%;
    height: 173px;
    background-color: $white;
    &-items {
        width: 90%;
        margin: 0 auto;

        @include Display(flex, space-between, center);
        .active {
            border-bottom: 2px solid $green;
            background-color: transparent;
        }
        &-links {
            width: 65%;
            @include Display(flex, space-evenly, center);
            .link {
                .text-link {
                    @include FontStyle(14px, 600, $sorme);
                    margin: 20px 0;
                }
            }
        }
        &-socials {
            width: 20%;
            @include Display(flex, space-evenly, center);
        }
    }
    &-content {
        width: 90%;
        margin: 24px auto;
        @include Display(flex, space-evenly, center);
        &-brand {
            @media (max-width: 900px) {
                width: 20%;
            }
    
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10%;
            height: 43.95px;
            cursor: pointer;
    
            &-image {
                width: 100%;
            }
        }
        &-search {
            width: 70%;
        }
        &-button {
            width: 2%;
        }
    }
}