.company-profile-edit {
    height: 100%;
    
    .body {
        height: 100%;
        @include Display(flex, start, flex-start);

        .input-text-label-input {
            @include Border(1px, $gray, 8px);

            &::placeholder {
                opacity: 1 !important;
            }
        }

        &-side-item {
            width: 20%;
            height: 100%;
        }

        &-content {
            width: 80%;

            &-header {
                width: 90%;
                height: 80px;
                margin: 32px auto;
                background-color: $white;
                border-radius: 12px !important;
                .mycompany-nav {
                    border: none;
                    .active {
                        color: $green !important;
                        border-bottom: 0;
                    }
                }
            }

            &-items {
                width: 90%;
                height: auto;
                margin: 0 auto;
                background-color: $white;
                border-radius: 12px;
                padding: 0 35px;

                .contact-us-map {
                    height: 600px !important;
                    .leaflet-container {
                        height: 600px !important;
                    }
                }

                &-title {
                    width: 100%;
                    margin: 0px auto;
                    padding: 40px 0;

                    @include Display (flex, space-between, center);

                    .button-outline {
                        border-radius: 8px !important;
                    }

                    &-text {
                        @include FontStyle(22px, 800, $sorme);
                        margin: 0;
                    }
                }

                &-banner {
                    @include Display(flex, space-between, flex-start);
                    width: 100%;

                    &-icons {
                        width: 5%;
                        @include Display(flex, center, center, column);

                        .label-photo {
                            margin-bottom: 20px;
                        }

                        position: relative;

                        .input-photo {
                            width: 18.5px;
                            height: 18.5px;
                            background-color: aqua;
                            position: absolute;
                            top: 0;
                        }

                        .input-photo {
                            background-color: aquamarine;
                            opacity: 0;
                        }

                    }

                    &-image {
                        width: 85%;
                        margin: 0 auto;
                        height: 225px;

                        >img {
                            width: 100%;
                            max-height: 225px;
                        }
                    }
                }

                &-description {
                    @include Display(flex, space-between, flex-start);
                    width: 100%;

                    &-icon {
                        @include Display(flex, center, center);
                        width: 5%;
                    }

                    &-text {
                        width: 85%;
                        margin: 0 auto;

                        >p {
                            @include FontStyle(16px, 400, $sorme);
                            margin: 0;
                            text-align: justify;
                        }
                    }
                }

                &-details {
                    padding: 40px 0;
                    @include Display(flex, space-between, flex-start);
                    width: 100%;

                    &-icon {
                        @include Display(flex, center, center);
                        width: 5%;
                        padding: 17px 0;
                    }

                    &-table {
                        width: 90%;
                        margin: 0 auto;

                        >div:nth-child(2n) {
                            background-color: $bgWhite;
                        }

                        &-row {
                            @include Display(flex, start, center);
                            padding: 17px;
                            width: 95%;
                            margin: 0 auto;

                            &-title {
                                width: 35%;

                                >h6 {
                                    @include FontStyle(16px, 400, $lightSorme);
                                    margin: 0;
                                }
                            }

                            .text-red {
                                >h6 {
                                    @include FontStyle(16px, 500, $red);
                                    margin: 0;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            &-amount {
                                width: 65%;

                                >h6 {
                                    @include FontStyle(16px, 500, $sorme);
                                    margin: 0;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                    >span {
                                        @include FontStyle(16px, 500, $green);
                                        margin: 0 30px;
                                    }
                                }
                            }
                        }
                    }
                }

                &-certificate {
                    @include Display(flex, space-between, flex-start, row, wrap);

                    &-table {
                        padding: 0px 0 60px 0;
                        @include Display(flex, space-between, flex-start);
                        width: 45%;

                        &-icon {
                            @include Display(flex, center, center);
                            width: 5%;
                            padding: 17px 0;
                        }

                        &-details {
                            width: 90%;
                            height: 100%;
                            margin: 0 auto;

                            >div:nth-child(2n+1) {
                                background-color: $bgWhite;
                            }

                            &-row {
                                @include Display(flex, start, center);
                                padding: 17px;
                                width: 95%;
                                height: 100%;
                                margin: 0 auto;

                                .title {
                                    width: 40%;

                                    >h6 {
                                        @include FontStyle(16px, 400, $lightSorme);
                                        margin: 0;
                                    }
                                }

                                .text-red {
                                    >h6 {
                                        @include FontStyle(16px, 500, $red);
                                        margin: 0;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                    }
                                }

                                .amount {
                                    width: 60%;

                                    >h6 {
                                        @include FontStyle(16px, 500, $sorme);
                                        margin: 0;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;

                                        >span {
                                            @include FontStyle(16px, 500, $green);
                                            margin: 0 30px;
                                        }
                                    }
                                }

                                .image {
                                    width: 60%;
                                    min-height: 151px;
                                    height: 60%;
                                }
                            }
                        }
                    }
                }

                &-button-add-certificate {
                    width: 100%;
                    padding: 0px 0 100px 0;
                }

                &-faq {}

                &-button-add-faq {
                    width: 100%;
                    padding: 40px 0;
                }

                &-contact-us {
                    padding: 0 0 40px 0;
                    @include Display(flex, space-between, flex-start);
                    width: 100%;

                    &-icon {
                        @include Display(flex, center, center);
                        width: 5%;
                        padding: 17px 0;
                    }

                    &-details {
                        width: 90%;
                        margin: 0 auto;

                        &-text {
                            @include Display(flex, start, center);
                            margin-bottom: 40px;

                            >div {
                                margin: 0 16px;

                                >h6 {
                                    @include FontStyle(14px, 500, $sorme);
                                    margin: 0 0 10px 0;
                                }

                                >h5 {
                                    @include FontStyle(16px, 400, $sorme);
                                    margin: 0;
                                }
                            }
                        }
                    }

                    &-divider {
                        width: 40%;
                    }
                }

                &-person {
                    width: 30%;
                    margin-bottom: 40px;
                    @include Display(flex, space-between, center);

                    &-title {
                        @include FontStyle(14px, 500, $sorme);
                        margin: 0;
                    }

                    &-image {
                        width: 85px;
                        height: 85px;
                        border-radius: 100px;
                    }

                    &-name {
                        >h5 {
                            @include FontStyle(16px, 600, $sorme);
                            margin: 0 0 10px 0;
                        }

                        >h6 {
                            @include FontStyle(10px, 700, $lightSorme);
                            margin: 0;
                        }
                    }
                }

                &-location {
                    padding: 40px 0;
                    @include Display(flex, space-between, flex-start);
                    width: 100%;

                    &-icon {
                        @include Display(flex, center, center);
                        width: 5%;
                        padding: 17px 0;
                    }

                    &-map {
                        width: 90%;
                        margin: 0 auto;
                    }
                }

            }

            .input-group {
                @include Display(flex, center, center);

                .select-component {
                    margin: 20px 10px 0 0;
                }

                .input-text-label {
                    margin: 20px 10px 0 0;
                }

                .input-text-phonenumber {
                    margin: 20px 10px 0 0;
                }

                .input-text-label-input {
                    @include Border(1px, $gray, 8px);

                    &::placeholder {
                        opacity: 1 !important;
                    }
                }

                .input-date {
                    margin: 20px 10px 0 0;
                }

            }

            .card-image {
                width: 50% !important;
                padding: 30px 0;

                .card-upload-image {
                    width: 546px;
                    height: 272px;
                }

                .card-show-image {
                    width: 546px;
                    height: 272px;
                }
            }

            .card-image-contact {
                width: 30% !important;
                padding: 30px 0;

                .card-upload-image {
                    width: 228px;
                    height: 228px;
                }

                .card-show-image {
                    width: 228px;
                    height: 228px;
                }
            }

            .card-image-setting {
                width: 30% !important;
                padding: 30px 0 50px 0;

                .card-upload-image {
                    width: 340px;
                    height: 340px;
                }

                .card-show-image {
                    width: 340px;
                    height: 340px;
                }
            }

            .value-red-scound {
                >div:nth-of-type(2) {
                    .input-text-label-input {
                        font-family: 'Poppins' !important;
                        font-weight: 500 !important;
                        font-size: 16px !important;
                        color: $red  !important;

                        &::placeholder {
                            color: $red  !important;
                        }
                    }
                }
            }

            .value-red-first {
                >div:nth-of-type(1) {
                    .input-text-label-input {
                        font-family: 'Poppins' !important;
                        font-weight: 500 !important;
                        font-size: 16px !important;
                        color: $red  !important;

                        &::placeholder {
                            color: $red  !important;
                        }
                    }
                }
            }
        }
    }
}