.company-profile-start {
    height: 100%;

    .body {
        height: 100%;
        @include Display(flex, start, flex-start);

        .input-text-label-input {
            @include Border(1px, $gray, 8px);

            &::placeholder {
                opacity: 1 !important;
            }
        }

        &-side-item {
            width: 20%;
            height: 100%;
        }

        &-content {
            width: 80%;

            &-header {
                width: 90%;
                height: 80px;
                margin: 24px auto 0;
                background-color: $white;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                @include Display(flex, start, center);
            }

            &-main {
                width: 90%;
                height: auto;
                margin: 0 auto;
                background-color: $white;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                padding: 0 35px;

                &-inputs {
                    margin: 0 0 20px;

                    &-group {
                        @include Display(flex, center, center);

                        .select-component {
                            margin: 20px 10px 0 0;
                        }

                        .input-text-label {
                            margin: 20px 10px 0 0;
                        }

                        .input-date {
                            margin: 20px 10px 0 0;
                        }
                    }
                }

                &-image {
                    width: 50%;
                    height: 339px;
                }

                &-button {
                    margin: 25px 0;
                }

                &-footer {
                    width: 100%;
                    padding: 25px 0;
                    @include Display(flex, space-between, center);

                    &-button-group {
                        @include Display(flex, center, center);

                        &-next {
                            border: none;
                            border-radius: 8px;
                            background-color: $green;
                            @include Display(flex, center, center);
                            padding: 13.5px 16px;

                            > h5 {
                                @include FontStyle(14px, 600, $white);
                                margin: 0;
                            }
                        }

                        &-back {
                            @include Border(1px, $green, 8px);
                            background-color: transparent;
                            @include Display(flex, center, center);
                            padding: 13.5px 16px;
                            margin: 0 16px;
                            > h5 {
                                @include FontStyle(14px, 600, $green);
                                margin: 0;
                            }
                        }
                    }

                    &-button-cancel {
                        border: none;
                        border-radius: 8px;
                        background-color: $lightSorme;
                        @include Display(flex, center, center);
                        padding: 13.5px 16px;

                        > h5 {
                            @include FontStyle(14px, 600, $white);
                            margin: 0;
                        }
                    }
                }
            }

            &-contact {
                background-color: $white;
                width: 90%;
                margin: 24px auto;
                border-radius: 16px;
                box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);

                &-header {
                    width: 95%;
                    margin: 0 auto;
                    padding: 30px 0;

                    > h4 {
                        @include FontStyle(18px, 600, $sorme);
                        margin: 0;
                    }
                }

                &-main {
                    &-inputs {
                        width: 95%;
                        margin: 0 auto 20px;

                        .input-text-label {
                            margin: 20px auto 0;
                        }

                        .Zindex {
                            > div:nth-of-type(2) {
                                z-index: 2;
                            }
                        }

                        &-group {
                            width: 100%;
                            @include Display(flex, space-between, center);
                            margin: 0 auto;
                            .select-component {
                                margin: 20px 0px 0 0;
                            }

                            .input-text-label {
                                margin: 20px 10px 0 0;
                            }

                            .input-date {
                                margin: 20px 10px 0 0;
                            }

                            .input-text-phonenumber {
                                margin: 20px 10px 0 0;
                            }
                        }
                    }
                    &-image {
                        width: 20%;
                        height: 228px;
                        margin: 0 2.5% 20px;
                    }
                    &-divider {
                        width: 95%;
                        height: 1px;
                        margin: 0 auto;
                        border: 1px dotted $gray;
                    }
                    &-location {
                        width: 95%;
                        margin: 0 auto 25px;
                        &-title {
                            @include FontStyle(20px, 400, $sorme);
                            margin: 25px 0;
                        }
                        &-map {
                            height: 560px;
                            border-radius: 12px;
                            > div {
                                height: 100%;
                            }
                        }
                    }
                }
                &-footer {
                    width: 95%;
                    margin: 0 auto;
                    padding: 25px 0;
                    @include Display(flex, space-between, center);

                    &-button-group {
                        @include Display(flex, center, center);

                        &-next {
                            border: none;
                            border-radius: 8px;
                            background-color: $green;
                            @include Display(flex, center, center);
                            padding: 13.5px 16px;

                            > h5 {
                                @include FontStyle(14px, 600, $white);
                                margin: 0;
                            }
                        }

                        &-back {
                            @include Border(1px, $green, 8px);
                            background-color: transparent;
                            @include Display(flex, center, center);
                            padding: 13.5px 16px;
                            margin: 0 16px;

                            > h5 {
                                @include FontStyle(14px, 600, $green);
                                margin: 0;
                            }
                        }
                    }

                    &-button-cancel {
                        border: none;
                        border-radius: 8px;
                        background-color: $lightSorme;
                        @include Display(flex, center, center);
                        padding: 13.5px 16px;

                        > h5 {
                            @include FontStyle(14px, 600, $white);
                            margin: 0;
                        }
                    }
                }
            }

            &-location {
                .modal-location-input {
                    margin: 35px 0;
                }
                .modal-location-map {
                    margin: 35px 0;
                    height: 390px;
                    > div {
                        height: 390px !important;
                    }
                }
            }

            &-setting {
                background-color: $white;
                width: 90%;
                min-height: 819px;
                margin: 24px auto;
                border-radius: 16px;
                box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
                padding: 0 40px;
                &-title {
                    width: 100%;
                    margin: 0 auto;
                    > h4 {
                        @include FontStyle(22px, 800, $sorme);
                        margin: 0;
                        padding: 35px 0;
                    }
                }
                &-image {
                    margin: 0 auto;
                    width: 30%;
                    height: 340px;
                    margin: 32px 0;
                }
            }
            .location-start {
                background-color: $white;
                .title {
                    @include FontStyle(18px, 600, $sorme);
                    padding: 30px 0;
                    border-bottom: 1px solid rgba($color: #b1b4c1, $alpha: 0.5);
                }
                .location-table {
                    border: 1px solid #d6d6d6;
                    border-radius: 16px;
                    width: 65%;
                    .head {
                        .head-title {
                            @include FontStyle(22px, 600, $sorme);
                        }
                    }
                    .table-head {
                        padding: 0 52px 0 31px;
                        background-color: rgba($color: #d6d6d6, $alpha: 0.5);
                        height: 50px;
                        span {
                            @include FontStyle(14px, 500, $sorme);
                            margin: 0;
                            &:nth-child(2) {
                                padding-right: 50px;
                            }
                            &:nth-child(3) {
                                padding-right: 30px;
                            }
                        }
                    }
                }
                .map-container {
                    width: 35%;
                    height: 100%;
                    > div {
                        height: 686px;
                    }
                }
            }
            .start-suppiler {
                background-color: #eb3a47;
                border-radius: 16px;
                height: 800px;
                span {
                    @include FontStyle(34px, 700, $white);
                }
                button {
                    @include FontStyle(18px, 600, $green);
                    border: none !important;
                    padding: 15px 35px;
                }
            }
        }
    }
}
