.finance-page {
    background-color: #f4f5f9;
    .content {
        width: 75%;

        .title {
            border-bottom: 1px solid $gray;
            padding: 32px;
            span {
                @include FontStyle(34px, 700, $sorme);
            }
        }
        .chartdoughnut-container {
            background-color: $white;
            padding: 25px 40px;
            box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
            border-radius: 16px;
            span {
                @include FontStyle(19px, 600, $sorme);
                padding-bottom: 35px;
            }
            .chart-doughnut {
                padding-top: 35px;
            }
        }
        .left-sidebar {
            width: 25%;
        }
        .center-content {
            padding: 25px;
            width: 75%;
            .top-section {
                .icon-button-container {
                    height: 282px;
                    box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
                    border-radius: 16px;
                    background-color: $white;
                    padding: 0 20px;
                    .icon-button {
                        width: 121px;
                        height: 136px;
                        padding: 0 20px;
                        span {
                            text-align: center;
                            @include FontStyle(14px, 500, $lightSorme);
                        }
                        &:first-child {
                            background: linear-gradient(
                                180deg,
                                rgba(107, 121, 140, 0) 0%,
                                rgba(107, 121, 140, 0.2) 100%
                            );
                            filter: drop-shadow(0px 19px 27px rgba(0, 0, 0, 0.03));
                            border-radius: 0px 0px 12px 12px;
                            margin-bottom: 20px;
                        }
                        &:last-child {
                            background: linear-gradient(
                                180deg,
                                rgba(107, 121, 140, 0.2) 0%,
                                rgba(107, 121, 140, 0) 100%
                            );
                            filter: drop-shadow(0px 19px 27px rgba(0, 0, 0, 0.03));
                            border-radius: 12px 12px 0px 0px;
                        }
                    }
                }
                .map {
                    height: 277px;
                    padding: 15px;
                    background-color: $white;
                    box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
                    border-radius: 16px;
                    span {
                        padding-bottom: 25px;
                        @include FontStyle(19px, 600, $sorme);
                    }
                    .leaflet-container {
                        margin-top: 15px;
                        height: 80%;
                    }
                }
            }
            .order-table {
                background-color: $white;
                width: calc(100vw - 91%);
                box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
                border-radius: 16px;
                .text-payment {
                    color: $sorme !important;
                }
            }
            .top-banner {
                background-color: $green;
                height: 240px;
                box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
                border-radius: 16px;
                div {
                    padding: 30px 35px;
                    span {
                        @include FontStyle(34px, 700, $white);
                    }
                    p {
                        margin-top: 20px;

                        @include FontStyle(14px, 500, $white);
                    }
                    button {
                        @include FontStyle(18px, 600, $green);
                        background-color: $white;
                        border: none;
                        outline: none;
                        border-radius: 8px;
                        padding: 15px;
                    }
                }
                img {
                    border-radius: 16px;
                    height: 292px;
                    max-width: 34%;
                }
            }
            .Calendar {
                width: 100% !important;
            }
        }
    }
    .right-sidebar {
        width: 25%;
        min-width: 380px;
        padding: 15px;
        background-color: $white;
        .dashboard-Nav {
            border: none !important;
        }
        .overall {
            .title {
                @include FontStyle(19px, 600, $sorme);
                margin: 0 0 16px 0;
            }
        }
        .calendar {
            max-width: 100%;
        }
    }
}
