.btn-add-new {
  background: #21c085;
  border-radius: 8px;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  @include FontStyle(14px, 600, $white);
}
.nav-like-box {
  background: #ffffff;
  border-radius: 75px;
  padding: 0.6%;
  @include FontStyle(14px,500,#6B798C  );
  .active{
    background: #21C085;
    box-shadow: 0px 9px 11px rgba(230, 57, 70, 0.2);
    border-radius: 47px;
    padding: 2%;
    color: $white !important;
  }
  .col-4{
    cursor: pointer;
  }
}
