.table-box{
    background: #FFFFFF;
/* Shadow 1 */

box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
border-radius: 16px; 
.item-nav{
    @include FontStyle(
        18px,600,#3C557A
    );
    cursor: pointer;
    
}
.item-active{
    border-bottom: 3px solid #21C085;
    color: #21C085 !important
    ;

}

}  
.search-table{
    background: #FFFFFF;
/* Border */

border: 1px solid #D6D6D6;
border-radius: 8px;
padding: 2%;
display: flex;
align-items: center;
.input-search{
    border: none;
    outline: none;
    
}
.input-search::placeholder{
    @include FontStyle(14px,22,#6B798C);
    margin-left: 3%;
}
}