.table-box {
    background: #ffffff;
    /* Shadow 1 */

    box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
    .item-nav {
        @include FontStyle(18px, 600, #3c557a);
        cursor: pointer;
    }
    .item-active {
        border-bottom: 3px solid #21c085;
        color: #21c085 !important
    ;
    }
}
.search-table {
    background: #ffffff;
    /* Border */

    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: 2%;
    display: flex;
    align-items: center;
    .input-search {
        border: none;
        outline: none;
    }
    .input-search::placeholder {
        @include FontStyle(14px, 22, #6b798c);
        margin-left: 3%;
    }
}
