.details-order {
    background-color: #F4F5F9;
    margin: 0 auto;

    &-card {
        height: 100%;
        width: 95% !important;
        margin: 30px auto !important;
        background: $white;
        box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
        border-radius: 16px;

        &-content {
            height: 100%;
            @include Display(flex, space-between, flex-start);

            &-product {
                width: 60%;
                @include Display(flex, center, flex-end, column);
                &-divider {
                    width: 100%;
                }
                &-counting {
                    width: 35%;
                    @include Display(flex, center, space-between, column);
                    margin: 0 45px;

                    &-details {
                        @include Display(flex, space-between, center);
                        margin: 16px 0;

                        &-title {
                            @include FontStyle(16px, 400, $lightSorme);
                            margin: 0;
                        }

                        &-price {
                            @include Display(flex, center, center);
                            @include FontStyle(22px, 500, $lightSorme);
                            margin: 0;

                            &-total {
                                @include FontStyle(22px, 800, $green);
                                margin: 0;
                            }

                            >span {
                                @include FontStyle(22px, 800, $sorme);
                                margin: 0;
                            }

                        }
                    }
                }
            }

            &-address {
                border-left: 1px solid $gray;
                width: 40%;
                @include Display(flex, space-between, flex-start, column);

                .row>* {
                    max-width: 95.5% !important;
                }

                &-top {
                    @include Display(flex, space-between, flex-start);

                    &-image {
                        @include Display(flex, center, flex-start);
                        margin: 30px 28px;
                    }

                    &-items {
                        margin: 30px 0;
                        @include Display(flex, start, flex-start, column);

                        &-location {
                            width: 100%;
                            margin: 0 0 16px 0;

                            &-title {
                                @include FontStyle(16px, 400, $lightSorme);
                                margin: 0 0 8px 0;
                            }

                            &-description {
                                @include FontStyle(16px, 600, $sorme);
                                margin: 0;
                            }
                        }

                        &-details {
                            @include Display(flex, start, center, row, wrap);
                            width: 100%;

                            &-text {
                                width: 33%;

                                .title {
                                    @include FontStyle(16px, 400, $lightSorme);
                                    margin: 16px 0 8px 0;
                                }

                                .description {
                                    @include FontStyle(16px, 600, $sorme);
                                    margin: 0 0 16px 0;
                                }
                            }
                        }
                    }
                }

                &-map {
                    width: 100%;
                    >div {
                        height: 41vh !important;
                    }
                }

            }
        }

        &-divider {
            width: 90% !important;
            margin: 0 auto;
        }

        &-footer {
            width: 95% !important;
            margin: 0 auto;
            padding: 46px 0;
            @include Display(flex, space-between, center);

            &-button-group {
                @include Display(flex, end, center);
                margin: 0 15px;

                .my-btn-gray {
                    width: 92px;
                    height: 48px;
                    background-color: $lightSorme;
                    margin: 0 15px;

                    >h6 {
                        @include FontStyle(14px, 600, $gray);
                        margin: 0;
                    }
                }
            }

            &-select {
                @include Display(flex, space-between, center);
                margin: 0 15px;
                position: relative;

                >h5 {
                    @include FontStyle(16px, 400, $lightSorme);
                    margin: 0 20px 0 0;
                    white-space: nowrap;
                }
                > h6 {
                    @include FontStyle(16px, 700, $green);
                    margin: 0;
                }

                .dropdown-component-button {
                    width: 175px;
                    height: 48.64px;
                    padding: 0 10px;
                    @include Border(1px, $gray, 8px);
                    @include Display(flex, space-evenly, center)
                }

                .dropdown-component-items {
                    width: 100%;
                    background-color: $white;
                    position: absolute;
                    top: 62px;

                    >a {
                        @include FontStyle(14px, 500, $lightSorme);
                        margin: 0;
                    }
                }
            }


            .footer-dropdown {
                margin: 0 15px;

                >h5 {
                    @include FontStyle(16px, 400, $lightSorme);
                    margin: 0;
                    white-space: nowrap;
                }

                @include Display(flex, start, center);
            }
        }
    }
}