.help-Page {
    .help-Content {
        position: absolute;
        z-index: 20;
        margin-top: 150px;
        video {
            width: 60vw;
            height: 400px;
            border-radius: 16px;
        }
        .title {
            @include FontStyle(48px, 800, $sorme);
        }
        .desc {
            @include FontStyle(20px, 400, $lightSorme);
        }
        .faq-Container {
            width: 90%;
        }
        .faq-Sidebar {
            background-color: $white;
            width: 20%;
            height: fit-content;
            border-radius: 12px;
            button {
                @include FontStyle(16px, 400, $lightSorme);
                text-align: left;
                border: none;
                outline: none;
                background-color: transparent;
                padding: 20px 10px;
                border-bottom: 1px solid $gray;
                width: 100%;
            }
            .selected {
                @include FontStyle(16px, 600, $sorme);
            }
        }
        .faq-content {
            max-width: 75%;
        }
        .banner {
            background-color: $green;
            width: 90%;
            border-radius: 16px;
            .content-Banner {
                height: 380px;
                span {
                    &:first-child {
                        @include FontStyle(60px, 800, $white);
                        line-height: 90px;
                        letter-spacing: -0.03em;
                    }
                    &:nth-child(2) {
                        @include FontStyle(20px, 400, $white);
                        max-width: 600px;
                    }
                }
                button {
                    @include FontStyle(18px, 600, $green);
                    background-color: $white;
                    border: none;
                    outline: none;
                    width: fit-content;
                    height: 40px;
                    padding: 6px 12px;
                }
            }
        }
    }
}
