.home {
    &-header {
        width: 100%;
        height: 643px;
        background-color: $green;
        padding: 0 100px;
        margin-bottom: 100px;

        @media (max-width: 1220px) {
            padding: 0 20px;
            min-height: 500px;
            height: auto;
        }

        &-description {
            max-width: 1920px;
            margin: 0 auto;

            @media (max-width: 1000px) {
                @include Display(flex, center, center, column);
            }

            padding-top: 45px;
            @include Display();

            &-items {
                @media (max-width: 1000px) {
                    width: 100%;
                }

                width: 45%;
                margin-top: 40px;

                &-title {
                    @media (max-width: 1220px) {
                        @include FontStyle(30px, 800, $white);
                    }
                    @media (min-width: 1221px) {
                        @include FontStyle(41px, 800, $white);
                    }
                    @media (min-width: 1550px) {
                        @include FontStyle(54px, 800, $white);
                    }
                }

                &-text1 {
                    @media (max-width: 1220px) {
                        @include FontStyle(12px, 800, $white);
                    }
                    @media (min-width: 1221px) {
                        @include FontStyle(19px, 800, $white);
                    }
                    @media (min-width: 1550px) {
                        @include FontStyle(22px, 800, $white);
                    }
                    text-align: justify;
                    text-justify: inter-word;
                    margin: 20px 0;
                }

                &-text2 {
                    @media (max-width: 1220px) {
                        @include FontStyle(9px, 800, $white);
                    }
                    @media (min-width: 1221px) {
                        @include FontStyle(14px, 400, $white);
                    }
                    @media (min-width: 1550px) {
                        @include FontStyle(16px, 400, $white);
                    }
                    margin-bottom: 80px;
                    text-align: justify;
                    text-justify: inter-word;
                }
            }

            &-image {
                @media (max-width: 375px) {
                    width: 100%;
                    margin: 50px 0 0 0px;
                }

                @media (min-width: 1000px) {
                    margin: 89px 0px 0 50px;
                    width: 50%;
                }

                @media (min-width: 1441px) {
                    margin: 80px 0px 0 50px;
                    width: 50%;
                }

                @media (min-width: 1788px) {
                    margin: 60px 170px 0 50px;
                    width: 50%;
                }


                >img {
                    @media (max-width: 1440px) {
                        width: 100%;
                    }

                    width: 100%;
                }
            }
        }

        &-inputs {
            margin: 0 auto;
        }
    }

    &-section-earn {
        padding: 105px 0;
        width: 85%;
        margin: 0 auto;
        @include Display();

        @media (max-width: 1000px) {
            @include Display(flex, center, center, column-reverse);
            padding: 30px 0;
        }

        &-content {
            @media (max-width: 1000px) {
                width: 100%
            }

            width: 50%;

            &-header {
                @include FontStyle(34px, 700, $sorme);
            }

            &-title {
                @include FontStyle(60px, 800, $green);
            }

            &-description {
                width: 90%;

                &-text {
                    @include FontStyle(16px, 400, $sorme);
                    text-align: justify;
                    text-justify: inter-word;
                }
            }
        }

        &-image {
            @media (max-width: 1000px) {
                width: 100%
            }

            width: 50%;

            >img {
                @media (max-width: 1000px) {
                    height: auto;
                }

                width: 100%;
                height: 360.87px;
            }
        }
    }

    &-section-latest {
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 693px;
        height: auto;
        padding: 0 100px;

        &-title {
            @include FontStyle(34px, 700, $sorme);
            padding: 50px 0;
        }

        &-group-cards {
            @include Display(flex, space-between, center, row, wrap);
        }
    }

    &-section-categories {
        width: 100%;
        min-height: 690px;
        height: auto;
        padding: 0 150px;
        @include Display(flex, center, center, column);

        &-title {
            @include FontStyle(34px, 700, $sorme);
            padding: 85px 0;
        }

        &-group-cards {
            @include Display(flex, center, center, row, wrap);
        }
    }

    &-section-special {
        width: 100%;
        @include Display();
        margin: 0 auto;
        padding: 99px;

        @media (max-width: 1250px) {
            @include Display(flex, start, center, column);
        }

        >div {
            @media (max-width: 1250px) {
                margin: 20px 0;
            }

            margin: 0 12px;
        }
    }

    &-section-special-two {
        width: 100%;
        margin: 0 auto;
        @include Display();
        padding: 0 100px;
    }

    &-section-best-seller {
        width: 100%;
        margin: 0 auto;
        padding: 32px 108px;
    }

    &-section-new {
        @media (max-width: 600px) {
            width: 100%;
        }

        width: 89%;
        min-height: 540px;
        height: auto;
        background-color: $white;
        box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
        border-radius: 16px;
        margin: 0 auto;
        @include Display(flex, start, center, column);

        &-header {
            width: 90%;
            height: 115px;
            @include Display(flex, space-between, center);
            margin: 0 auto;

            &-text {
                @include FontStyle(34px, 700, $sorme);
            }

            &-link {
                @include FontStyle(14px, 600, $green);
            }
        }

        &-content {
            width: 100%;
            margin: 30px auto;
            height: 100%;
            @include Display(flex, space-evenly, center, row, wrap);

            .card-new-excess {
                padding: 0 auto;
                width: 349px;
            }
        }
    }

    &-section-images {
        @media (max-width: 1200px) {
            @include Display(flex, center, center, row, wrap);
        }

        width: 100%;
        padding: 50px 96px;
        @include Display(flex, space-between);

        >div {
            @media (max-width: 1200px) {
                margin: 10px 0;
            }

            margin: 0 10px;
        }
    }

    &-section-newest-product {
        width: 95%;
        background-color: transparent;
        margin: 0 auto;
        @include Display(flex, start, center, column);

        &-title {
            @include FontStyle(34px, 700, $sorme);
            margin: 30px 0;
        }

        &-content {
            @include Display(flex, center, center, row, wrap);
            border-radius: 16px;
            .card-new-product {
                width: 285px;
                height: 285px;
            }
        }
    }

    &-section-best-brand {
        width: 100%;
        padding: 0 100px;
        @include Display(flex, center, center, column);

        &-title {
            @include FontStyle(34px, 700, $sorme);
            padding: 40px 0;
        }
    }

    &-section-description {
        margin: 50px 0;
        width: 100%;
        padding: 0 100px;
        position: relative;

        &-title {
            @include FontStyle(24px, 700, $sorme);
            margin-bottom: 25px;
        }

        &-text {
            @include FontStyle(16px, 400, $black);
            text-align: justify;
        }

        &-button {
            width: 100%;
            position: relative;
            top: 160px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index: 2;

            &-text {
                @include FontStyle(18, 600, $green);
            }
        }

        .blur {
            opacity: 0.3;

            &-text {
                @include FontStyle(16px, 400, $black);
                text-align: justify;
            }

            &-title {
                @include FontStyle(24px, 700, $sorme);
            }
        }

        .onblur {
            &-text {
                @include FontStyle(16px, 400, $black);
                text-align: justify;
            }

            &-title {
                @include FontStyle(24px, 700, $sorme);
                margin-bottom: 25px;
            }
        }
    }
}