.membership-Page {
    margin-bottom: 800px;
    .plans-Container {
        position: absolute;
        z-index: 20;
        width: 90%;
        height: 800px;
        margin-top: 200px;
        .features {
            width: 15%;
            min-width: max-content;
            span {
                width: 100%;
                height: 90px;
                border-bottom: 1px solid #dfe3ea;

                background-color: $white;
                color: $sorme;
                text-align: center;
                &:first-child {
                    border-radius: 16px 0 0 0;
                    background-color: $sorme;
                    color: $white;
                    height: 80px;
                }
                &:last-child {
                    border-radius: 0 0 0 16px;
                }
            }
        }
        .plans {
            width: 85%;
        }
    }
}
.green-Background {
    height: 445px;
    background-color: $green;
    position: relative;
    z-index: 1;
    span {
        @include FontStyle(60px, 800, $white);
    }
}
