.sideServise-Page {
    li,
    p {
        @include FontStyle(16px, 400, $sorme);
        line-height: 26px;
    }
    .sideService-Content {
        width: 100%;
        position: absolute;
        top: 460px;
        z-index: 10;
        .sideService-Desc {
            border-radius: 16px;
            padding: 35px;
            background-color: $white;
            width: 70%;
            max-width: 1296px;
            span {
                @include FontStyle(22px, 800, $sorme);
            }
        }
        .services {
            width: 80%;
            .sidebar {
                width: 25%;
                background-color: transparent;
                button {
                    span {
                        @include FontStyle(16px, 400, #383938);
                        text-align: left;
                    }
                    width: 100%;
                    height: 80px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }
                .active-Btn {
                    background-color: $white;
                    width: 105%;
                    z-index: 10;
                }
            }
            .content {
                z-index: 5;
                width: 75%;
                background-color: #f6f6f6;
                padding: 20px;
                border-radius: 16px;
                border: 1px solid #e3e3e3;
                min-height: fit-content;
                .items {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                }
                .content-Item {
                    width: 100%;
                    height: 450px;
                    background-color: $white;
                    border-radius: 8px;
                    span {
                        @include FontStyle(20px, 700, $sorme);
                    }
                    img {
                        width: 100%;
                        height: 200px;
                        border-radius: 8px 8px 0 0;
                    }
                }
                .single-Content-Item {
                    width: 100%;
                    height: 650px;
                    background-color: $white;
                    border-radius: 8px;
                    span {
                        @include FontStyle(20px, 700, $sorme);
                    }
                    img {
                        width: 100%;
                        height: 425px;
                        border-radius: 8px 8px 0 0;
                    }
                }
            }
        }
    }
}
