// colors
$sorme: #3c557a;
$lightSorme: #6b798c;
$gray: #d6d6d6;
$lightGray: #d6d6d64d;
$white: #FFFFFF;
$darkWhite: #F3F3F3;
$green: #21C085;
$lightGreen: #21c08533 ;
$black: #000000;
$red: #FC4A56;
$bgWhite: #f3f4f6;
  