// colors
$sorme: #3c557a;
$lightSorme: #6b798c;
$gray: #d6d6d6;
$lightGray: hsla(0, 0%, 84%, 0.3);
$white: #FFFFFF;
$darkWhite: #F3F3F3;
$green: #21C085;
$lightGreen: hsla(158, 71%, 44%, 0.2) ;
$black: #000000;
$red: #FC4A56;
$white: #ffffff;
$darkWhite: #f3f3f3;
$green: #21c085;
$lightGreen: hsla(158, 71%, 44%, 0.2);
$black: #000000;
$bgWhite: #f3f4f6;
