.button-icon {
    background-color: $white;
    border: 5px solid ;
    border-image-slice: 1;
    border-image-source: linear-gradient(#e5e5e511, #e5e5e542);
    border-radius: 8px;
    padding: 11px;
    >img {
        width: 30px;
        height: 30px;
    }
}
.button-icon-title {
    width: 135px;
    height: 48px;
    background-color: $green;
    @include Border(0, transparent, 8px);
    @include Display(flex, space-evenly, center);
    &-text {
        @include FontStyle(14px, 600, $white);
        margin: 0;
    }
}