.card-product {
    
    background-color: $white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    &-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-content {
        width: 60%;
        &-header {
            width: 95%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            &-text {
                @include FontStyle(10px, 700, $green);
                margin: 0;
            }
            &-icon {
                cursor: pointer;
            }
        }
        &-title {
            width: 95%;
            &-text {
                @include FontStyle(17px, 800, $sorme);
                margin: 8px 0;
            }
        }
        &-description {
            width: 95%;
            >span {
                margin: 0 2px;
            }
            &-text {
                @include FontStyle(12px, 500, $lightSorme)
            }
        }
        &-chart {
            width: 95%;
            .chart {
                height: 100%;
                .chart-content-column-bottom {
                    height: 55px;
                    width: 6px;
                }

                .chart-content-column-top {
                    width: 8px;
                }
            }
        }
    }
}