.card-collection-best {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 112px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    border-radius: 16px;

    &-content {
        @media (max-width: 860px) {
            @include Display(flex, center, center, column);
        }

        width: 95%;
        height: 100%;
        @include Display(flex, space-between, center);
        margin: auto 33px;

        &-title {
            @include FontStyle(24px, 700, $sorme);
        }

        &-button {
            .button-component {
                >h3 {
                    margin: 0;
                }
            }
        }

        &-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            >div {
                margin: 0 5px;
            }
        }
    }
}