.card-collection-product {
    width: 100%;
    min-height: 402px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    box-shadow: 0px 19px 27px rgba(0, 0, 0, 0.03);
    border-radius: 16px;
    margin: 0 10px;
    a {
        @include FontStyle(14px, 600, $green)
    }
    &-header {
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        &-text {
            @include FontStyle(24px, 700, $sorme);
        }
        &-link {
            
        }
    }
    &-body {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}