.card-new-product {
    @include Display(flex, center, center, column);
    @include Border(3px,$darkWhite);
    width: 200px;
    height: 200px;
    background-color: $white;
    &-image {
        width: 122px;
        height: 122px;
        background-color: $lightGray;
        @include Display(flex, center);
        border-radius: 100px;
        > img {
            width: 100%;
        }
    }
    &-title {
        @include FontStyle(16px, 600, $sorme);
        margin: 12px 0;
    }
}