.supplier-box {
    background: #ffffff;
    border-radius: 12px;
    padding: 1%;
  }
  .logo-box {
    width: 10rem;
    height: 10rem;
    background: #fc4a56;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .supplier-content {
    margin-left: 1%;
  }