.table-order {
  table {
    border: inherit;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  #table-order td {
    padding: 3% 1%;
    border-bottom: 1px solid #b1b4c1;
  }

  #table-order tr > th {
    padding: 1% 2%;
    background-color: rgb(214, 214, 214) !important;
    @include FontStyle(14px, 500, #6b798c);
  }

  tbody {
    .product {
      img {
        width: 48px;
        height: 48px;
      }
      .name {
        @include FontStyle(14px, 500, $sorme);
      }
      .desk {
        @include FontStyle(10px, 700, $lightSorme);
        letter-spacing: 1.5px;
      }
    }
    .detail-btn {
      button {
        max-height: 50px;
      }
    }
    .review {
      @include FontStyle(14px, 500, $sorme);
      font-style: italic !important;
    }
  }

  .text-hashtag {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #f3f3f3;
    display: flex;
    align-items: center;
    color: #6b798c;
    justify-content: center;
  }
  .text-hashtag-active {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    color: $white;
    display: flex;
    align-items: center;
    color: #6b798c;
    justify-content: center;
    background: #21c085;
    box-shadow: 0px 9px 11px rgba(230, 57, 70, 0.2);
  }
  .text-order-number {
    @include FontStyle(16px, 400, #3c557a);
    text-align: center;
  }
  .text-payment {
    @include FontStyle(22px, 800, #fc4a56);
    text-align: center;
  }
  .text-status {
    @include FontStyle(16px, 400, #21c085);
    text-align: center;
  }
  .text-client {
    @include FontStyle(14px, 400, #3c557a);
    text-align: center;
  }
  .produt-box-number {
    background: #f3f4f6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rate {
    img {
      width: 20px;
      height: 20px;
    }
  }
}
.reportText {
  @include FontStyle(16px, 400, $green);
  font-style: normal !important;
}
