.component-storage{
.btn{
    background: #FFFFFF;
    /* Green Brand */
    display: flex;
    align-items: center;
    
    border: 1px solid #21C085;
    border-radius: 7px;
    color: #21C085;
}
.span{
    font-size: 30px;
}
} 