.question-Answer {
    background-color: $white;
    border-radius: 16px;

    .paragraph {
        @include FontStyle(20px, 400, $sorme);
    }
    .question {
        padding: 10px 30px;
        span {
            &:first-child {
                @include FontStyle(60px, 800, $green);
            }
        }
        button {
            border: none;
            outline: none;
            background-color: transparent;
            padding: 8px;
        }
        img {
            transform: rotate(90deg);
        }
        .rotate-btn {
            transform: rotate(-180deg);
        }
    }
    .answer {
        padding: 20px 30px;
        background-color: rgba(107, 121, 140, 0.2);
        display: flex;
        transition: 1s all ease-in-out;
        border-radius: 0 0 16px 16px;
        span {
            &:first-child {
                @include FontStyle(60px, 800, $sorme);
            }
        }
    }
}
