.review-detail {
    width: 100vw;
    height: 100vh;
    position: absolute;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    .content {
        max-width: 1427px;
        background-color: $white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11%;
    }
    .head {
        border-bottom: 1px solid $gray;
        height: 80px;
        padding: 0 50px;
        span {
            @include FontStyle(19px, 600, $sorme);
        }
        div {
            cursor: pointer !important;
            width: 48px;
            height: 48px;
            background-color: $bgWhite;
            border-radius: 50%;
        }
    }
    .body {
        padding: 20px 50px;
        .review {
            width: 70%;
            padding-right: 30px;
            border-right: 1px solid $gray;
        }
        .product {
            width: 30%;
            padding-left: 30px;
        }
        .profile-detail {
            .profile-img {
                width: 48px;
                height: 48px;
                background-color: rgba($color: $lightSorme, $alpha: 0.2);
                border-radius: 50%;
            }
            span {
                &:first-child {
                    @include FontStyle(16px, 600, $sorme);
                }
                &:last-child {
                    @include FontStyle(12px, 500, rgba($color: $lightSorme, $alpha: 0.5));
                    padding-top: 5px;
                }
            }
        }
        .rate {
            padding-right: 18px;
            img {
                width: 20px;
                height: 20px;
            }
        }
        .country-img {
            padding: 0 18px;
            border-left: 1px solid $gray;
            border-right: 1px solid $gray;

            img {
                width: 24px;
                height: 24px;
            }
        }
        .green-text {
            @include FontStyle(14px, 600, $green);
            padding-left: 18px;
            letter-spacing: 0.75px;
            text-transform: uppercase;
        }
        .review-text {
            @include FontStyle(16px, 400, $lightSorme);
            margin-top: 24px;
        }
        .product-img {
            span {
                @include FontStyle(10px, 700, $lightSorme);
                margin-bottom: 10px;
            }
            img {
                width: 120px;
                height: 120px;
            }
        }
        .product-name {
            @include FontStyle(16px, 700, $sorme);
        }
    }
    .bottom-section {
        padding: 30px 50px;
        .select-conteiner {
            label {
                @include FontStyle(16px, 400, $lightSorme);
                margin-right: 20px;
            }
            select {
                padding: 8px 20px;
                background: $white;
                border: 1px solid #d6d6d6;
                border-radius: 8px;
                @include FontStyle(14px, 500, $lightSorme);
            }
        }
    }
}
.even-btn-container {
    button {
        @include FontStyle(14px, 600, $white);
        height: 50px;
        border: none;
        outline: none;
        border-radius: 8px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        padding: 14px 16px;
        &:first-child {
            background-color: $lightSorme;
            // width: 90px;
            margin-right: 20px;
        }
        &:last-child {
            background-color: $green;
            // width: 150px;
        }
    }
}
