.specifications-tabActive {
  /* Headers/H4 */

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  /* identical to box height */

  letter-spacing: -0.02em;

  /* Sorme */

  color: #3c557a;

  border-bottom: 1px solid #21c085;
}
